@charset "UTF-8";
/* bs換圖輪播 */
.carousel .carousel-item {
  height: calc(100vh - 3.5rem);
}
.carousel .carousel-item img {
  object-fit: cover;
  height: 100%;
}

/* bs navbar */
.navbar {
  position: sticky;
  top: 0;
  height: 3.5rem;
  z-index: 999;
}
.navbar .navbar-brand img {
  height: 2rem;
}
@media (max-width: 992x) {
  .navbar .navbar-nav {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.6);
  }
}
.navbar .btn-search-w {
  width: 5rem;
}
.navbar .icon {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}
@media (min-width: 992px) {
  .navbar .icon {
    position: absolute;
    right: 20px;
  }
}
.navbar .icon a {
  font-size: 1.5rem;
  color: #f1f1f1;
  padding-right: 1rem;
}
.navbar .icon a:hover {
  color: #999;
}

/* 共用區 */
/* 區塊標題 */
.section-title {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-title::before, .section-title::after {
  content: "";
  width: 40%;
  height: 3px;
  background-color: #444;
}
@media (max-width: 992x) {
  .section-title::before, .section-title::after {
    width: 35%;
  }
}
@media (max-width: 992x) and (max-width: 640px) {
  .section-title::before, .section-title::after {
    width: 30%;
  }
}
.section-title h2 {
  width: 20%;
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
}
@media (max-width: 992x) {
  .section-title h2 {
    width: 30%;
  }
}
@media (max-width: 640px) {
  .section-title h2 {
    width: 40%;
  }
}
.section-title h2 span {
  display: block;
  text-align: center;
  font-size: 1rem;
}

section img {
  display: block;
  width: 100%;
}

#new a,
#hot a {
  position: relative;
  display: block;
}

.list-title {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.55s;
}
.list-title:hover {
  opacity: 1;
}

/* 最新商品 */
#new .mask {
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
}
#new .mask-1 {
  mask-image: url(../images/blobs-1.svg);
}
#new .mask-2 {
  mask-image: url(../images/blobs-2.svg);
}
#new .mask-3 {
  mask-image: url(../images/blobs-3.svg);
}

/* 熱門商品 */
#hot .clip {
  clip-path: circle(49%);
}

/* 全部產品 */
@media (min-width: 1440px) {
  #all .col-my-5 {
    width: 20%;
  }
}

/* product-page */
#product-detail .detail-box {
  display: flex;
  width: 80%;
  margin: 0 auto;
}
#product-detail .detail-box > div {
  flex: 1;
}
#product-detail .detail-box #album {
  display: flex;
  height: 70vh;
}
#product-detail .detail-box #album img {
  object-fit: cover;
  height: 100%;
}
#product-detail .detail-box #album ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 80px;
}
#product-detail .detail-box .content h1 {
  font-size: 1.5rem;
}
#product-detail .detail-box .content .price del {
  font-size: 0.85rem;
}
#product-detail .detail-box .content .price mark {
  background-color: #23f444;
}
#product-detail .detail-box .content p {
  margin: 1rem 0;
  font-size: 0.85rem;
}
#product-detail .detail-box .content h4 {
  font-size: 0.85rem;
}
#product-detail .detail-box .content .btnbox {
  margin-bottom: 1.5rem;
}
#product-detail .detail-box .content button {
  cursor: pointer;
}
#product-detail .detail-box .content .active {
  border: 1px solid #444;
}
#product-detail .detail-box .content .disabled {
  cursor: auto;
  opacity: 0.5;
}
#product-detail .detail-box .content .size {
  font-size: 0.85rem;
}
#product-detail .detail-box .content .size button {
  width: 2rem;
  border: 1px solid #999;
}
#product-detail .detail-box .content .color button {
  width: 24px;
  height: 24px;
  border: 1px solid #999;
}
#product-detail .detail-box .content .color button:nth-child(1) {
  background-color: rgb(69, 64, 38);
}
#product-detail .detail-box .content .color button:nth-child(2) {
  background-color: rgb(255, 247, 182);
}
#product-detail .detail-box .content .color button:nth-child(3) {
  background-color: rgb(123, 79, 8);
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
  border: 1px solid #444;
  background: #f1f1f1;
}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
  padding: 0;
}

.ui-tabs .ui-tabs-nav li {
  border-bottom-width: 1px;
  border-radius: 5px;
  overflow: hidden;
}

.ui-tabs .ui-tabs-nav li .ui-tabs-active {
  margin-bottom: 1px;
  padding-bottom: 0;
}

.ui-tabs .ui-tabs-panel {
  padding: 0;
}

.ui-widget.ui-widget-content {
  border: none;
}

footer {
  text-align: center;
}